java.iml
imgui.ini

# IntelliJ
.idea/*
*.idea/*
!.idea/runConfigurations/*

# Visual Studio
.vs/*
*.vs/

# Webapp V3 - delete this
src/webapp/node_modules/
src/webapp/breakerboard-win32-ia32/
src/webapp/breakerboard-darwin-x64/

# Gradle
.gradle/
gradle/
/build/
/bin/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
