.gradle
/build/
/bin/
gradle/
.classpath
.project
java.iml
.settings
.idea/
src/webapp/node_modules/
.vs/
src/webapp/.vs/
src/webapp/breakerboard-win32-ia32/
src/webapp/breakerboard-darwin-x64/
.characterize/
imgui.ini

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
